# Project information
site_name: BBOT Docs
site_url: https://blacklanternsecurity.github.io/bbot/
site_author: TheTechromancer
site_description: >-
  OSINT automation for hackers
# Repository
repo_name: blacklanternsecurity/bbot
repo_url: https://github.com/blacklanternsecurity/bbot
watch: 
  - "mkdocs.yml"
  - "bbot"
  - "docs"

# Page tree
nav:
- User Manual:
  - Basics:
    - Getting Started: index.md
    - How it Works: how_it_works.md
    - Comparison to Other Tools: comparison.md
  - Scanning:
    - Scanning Overview: scanning/index.md
    - Presets:
      - Overview: scanning/presets.md
      - List of Presets: scanning/presets_list.md
    - Events: scanning/events.md
    - Output: scanning/output.md
    - Tips and Tricks: scanning/tips_and_tricks.md
    - Advanced Usage: scanning/advanced.md
    - Configuration: scanning/configuration.md
  - Modules: 
    - List of Modules: modules/list_of_modules.md
    - Nuclei: modules/nuclei.md
  - Misc:
    - Contribution: contribution.md
    - Release History: release_history.md
    - Troubleshooting: troubleshooting.md
- Developer Manual:
  - Development Overview: dev/index.md
  - Setting Up a Dev Environment: dev/dev_environment.md
  - BBOT Internal Architecture: dev/architecture.md
  - How to Write a BBOT Module: dev/module_howto.md
  - Unit Tests: dev/tests.md
  - Discord Bot Example: dev/discord_bot.md
  - Code Reference:
    - Scanner: dev/scanner.md
    - Presets: dev/presets.md
    - Event: dev/event.md
    - Target: dev/target.md
    - BaseModule: dev/basemodule.md
    - BBOTCore: dev/core.md
    - Engine: dev/engine.md
    - Helpers:
      - Overview: dev/helpers/index.md
      - Command: dev/helpers/command.md
      - DNS: dev/helpers/dns.md
      - Interactsh: dev/helpers/interactsh.md
      - Miscellaneous: dev/helpers/misc.md
      - Web: dev/helpers/web.md
      - Word Cloud: dev/helpers/wordcloud.md

theme:
  name: material
  logo: bbot.png
  favicon: favicon.png
  features:
    - content.code.copy
    - content.tooltips
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - toc.integrate
  palette:
    - scheme: slate
      primary: black
      accent: deep orange

plugins:
  - mike
  - search
  - extra-sass
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          options:
            heading_level: 1
            show_signature_annotations: true
            show_root_toc_entry: false
            show_root_heading: true
            show_root_full_path: false
            separate_signature: true
            docstring_section_style: "list"
            filters:
              - "!^_"
              - "^__init__$"
          import:
            - https://docs.python.org/3.11/objects.inv
            - https://omegaconf.readthedocs.io/en/latest/objects.inv

extra:
  version:
    provider: mike
    default: Stable

markdown_extensions:
  - tables
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      use_pygments: True
      noclasses: True
      pygments_style: github-dark
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_javascript:
  - javascripts/tablesort.js
  - javascripts/tablesort.min.js
  - javascripts/vega@5.js
  - javascripts/vega-lite@5.js
  - javascripts/vega-embed@6.js
  - data/chord_graph/vega.json
  - data/chord_graph/rels.json
  - data/chord_graph/entities.json
