# Project information
site_name: BBOT Docs
site_url: https://blacklanternsecurity.github.io/bbot/
site_author: TheTechromancer
site_description: >-
  OSINT automation for hackers
# Repository
repo_name: blacklanternsecurity/bbot
repo_url: https://github.com/blacklanternsecurity/bbot
watch: 
  - "mkdocs.yml"
  - "bbot"
  - "docs"

# Page tree
nav:
  - Basics:
    - Getting Started: index.md
    - How it Works: how_it_works.md
    - Comparison to Other Tools: comparison.md
  - Scanning:
    - Scanning Overview: scanning/index.md
    - Events: scanning/events.md
    - Output: scanning/output.md
    - Tips and Tricks: scanning/tips_and_tricks.md
    - Advanced Usage: scanning/advanced.md
    - Configuration: scanning/configuration.md
  - Modules: 
    - List of Modules: modules/list_of_modules.md
    - Nuclei: modules/nuclei.md
  - Contribution:
    - How to Write a Module: contribution.md
    - Developer Reference:
      - Overview: dev/index.md
      - Scanner: dev/scanner.md
      - Event: dev/event.md
      - Target: dev/target.md
      - BaseModule: dev/basemodule.md
      - Helpers: 
        - Overview: dev/helpers/index.md
        - Command: dev/helpers/command.md
        - DNS: dev/helpers/dns.md
        - Interactsh: dev/helpers/interactsh.md
        - Miscellaneous: dev/helpers/misc.md
        - Web: dev/helpers/web.md
        - Word Cloud: dev/helpers/wordcloud.md
  - Misc:
    - Release History: release_history.md
    - Troubleshooting: troubleshooting.md

theme:
  name: material
  logo: bbot.png
  favicon: favicon.png
  features:
    - content.code.copy
    - navigation.sections
    - navigation.expand
    - toc.integrate
  palette:
    - scheme: slate
      primary: black
      accent: deep orange

plugins:
  - search
  - extra-sass
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          options:
            heading_level: 1
            show_signature_annotations: true
            show_root_toc_entry: false
            show_root_heading: true
            show_root_full_path: false
            separate_signature: true
            docstring_section_style: "list"
            filters:
              - "!^_"
              - "^__init__$"
          import:
            - https://docs.python.org/3.11/objects.inv
            - https://omegaconf.readthedocs.io/en/latest/objects.inv

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      use_pygments: True
      noclasses: True
      pygments_style: github-dark
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
