ansible-runner==2.2.0
antlr4-python3-runtime==4.8; python_version >= "3.6"
appdirs==1.4.4; python_version >= "3.7" and python_version < "4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
cattrs==1.10.0; python_version >= "3.7" and python_version < "4.0"
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
dnspython==2.2.1; python_version >= "3.6" and python_version < "4.0"
docutils==0.18.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
filelock==3.6.0; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
lockfile==0.12.2
omegaconf==2.2.0; python_version >= "3.6"
packaging==21.3; python_version >= "3.6"
pexpect==4.8.0
psutil==5.9.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
ptyprocess==0.7.0
pydantic==1.9.0; python_full_version >= "3.6.1"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.6"
python-daemon==2.3.0
pyyaml==6.0; python_version >= "3.6"
requests-cache==0.9.4; python_version >= "3.7" and python_version < "4.0"
requests-file==1.5.1; python_version >= "3.7"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
tldextract==3.3.0; python_version >= "3.7"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.6.1"
url-normalize==1.4.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
urllib3==1.26.9; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
websocket-client==1.3.2; python_version >= "3.7"
wordninja==2.0.0
