:root {
  --bbot-orange: #FF8400;
}

.md-typeset a, a {
  color: var(--bbot-orange);
}

a.md-source, .md-header__topic {
  color: var(--bbot-orange);
}

div.md-source__repository ul {
  color: white;
}
