[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansi2html = "*"
coreapi = "*"
django-cors-headers = "*"
django-model-utils = "*"
django-python3-ldap = "*"
django-rest-framework = "*"
drf-flex-fields = "*"
graphlib = "*"
netaddr = "*"
psycopg2 = "*"
requests = "*"
channels = "*"
gunicorn = "*"
uvicorn = "*"
Django = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.10"
